{{> header}}

{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Imagen Personaje</h1>
        <p>Coraje el perro cobarde.</p>
    </div>
    
    <div class="col-4">
        <img src="assets/img/imagen001.png" class="img-fluid" alt="Responsive image">
    </div>
    
</div>

{{> footer}}